head
  title Simple Login | #{heading}
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='/index.css')
body.container.pt-5
  h1 Simple Login
  h4 #{heading}
  p #{msg}
  a(href="/#{url}")
    button.btn.btn-primary.btn-block #{title}